@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar for forecast scroll */
.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 999px;
}
